
.ehter-label{
    position: relative;
    padding-left: 1.15rem !important;
    letter-spacing: .8px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(119,131,143,.1);
    font-size: .65625rem;
    line-height: 1.7;
    padding: 0.3rem 0.5rem;
}
.ehter-label::after{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    border-left: 0.7rem solid #fff;
}
.footer-col {
    padding-bottom: 5px;
}
.footer-menu {
    color: #212529;
}
.footer-menu:hover {
    color: #0784c3;
}
.opacity-md {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid #e9ecef;
    width: 100%;
}
.dark .opacity-md {
    border-top: 1px solid #222;
}
.content-hr {
    border: 0;
    border-top: 1px solid #e9ecef;
    width: 100%;
}
.dark .content-hr {
    border-top: 1px solid #222;
}
.header-divide {
    border-left: 1px solid #e7eaf3;
    width: 1px;
    height: 20px;
}
.dark .header-divide{
    border-color: #222;
}
.search-form select {
    padding: .3rem 1.8rem .3rem .6rem;
}
.search-form select:focus, .search-form input:focus{
    box-shadow: 0 0 0 0.15rem rgb(0 0 0 / 10%);
}
.dark .highcharts-background {
    fill: #111;
}
/* responsive style */
@media (max-width: 768px) {
    .search-form input {
        width: 77%;
    }
    .header-divide {
        display: none;
    }
    .dropdown {
        border: 1px solid #e9ecef;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }
    .dark .dropdown {
        border-color: #222;
    }
    .dark .transaction {
        border-top: 1px solid #222;
    }
}
@media (max-width: 425px) {
    .search-form select {
        display: none;
    }
    .search-form input {
        width: 88%;
    }
    .latest-block {
        display: block;
    }
}
@media (max-width: 375px) {
    .search-form select {
        display: none;
    }
    .search-form input {
        width: 85%;
    }
}